## Starting with our imports as usual, numpy as np, pandas as pd and import DataFrame module from pandas:

In [52]:
import numpy as np
import pandas as pd

## 1. Read in the netflix dataset "data_netflix.csv" using read_csv:

In [53]:
netflix = pd.read_csv('data_netflix.csv')
netflix

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...
1,80117401,Movie,Jandino: Whatever it Takes,NaN,Jandino Asporaat,United Kingdom,"September 9, 2016",2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...
2,70234439,TV Show,Transformers Prime,NaN,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,"September 8, 2018",2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob..."
3,80058654,TV Show,Transformers: Robots in Disguise,NaN,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,"September 8, 2018",2016,TV-Y7,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...
4,80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...
...,...,...,...,...,...,...,...,...,...,...,...,...
6229,80000063,TV Show,Red vs. Blue,NaN,"Burnie Burns, Jason Saldaña, Gustavo Sorola, G...",United States,NaN,2015,NR,13 Seasons,"TV Action & Adventure, TV Comedies, TV Sci-Fi ...","This parody of first-person shooter games, mil..."
6230,70286564,TV Show,Maron,NaN,"Marc Maron, Judd Hirsch, Josh Brener, Nora Zeh...",United States,NaN,2016,TV-MA,4 Seasons,TV Comedies,"Marc Maron stars as Marc Maron, who interviews..."
6231,80116008,Movie,Little Baby Bum: Nursery Rhyme Friends,NaN,NaN,NaN,NaN,2016,NaN,60 min,Movies,Nursery rhymes and original music for children...
6232,70281022,TV Show,A Young Doctor's Notebook and Other Stories,NaN,"Daniel Radcliffe, Jon Hamm, Adam Godley, Chris...",United Kingdom,NaN,2013,TV-MA,2 Seasons,"British TV Shows, TV Comedies, TV Dramas","Set during the Russian Revolution, this comic ..."
6233,70153404,TV Show,Friends,NaN,"Jennifer Aniston, Courteney Cox, Lisa Kudrow, ...",United States,NaN,2003,TV-14,10 Seasons,"Classic & Cult TV, TV Comedies",This hit sitcom follows the merry misadventure...

## 2. Have a look at the head of DataFrame:

In [54]:
netflix.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...
1,80117401,Movie,Jandino: Whatever it Takes,NaN,Jandino Asporaat,United Kingdom,"September 9, 2016",2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...
2,70234439,TV Show,Transformers Prime,NaN,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,"September 8, 2018",2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob..."
3,80058654,TV Show,Transformers: Robots in Disguise,NaN,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,"September 8, 2018",2016,TV-Y7,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...
4,80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...

## 3. Get the general information about the DataFrame:

In [55]:
netflix.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6234 entries, 0 to 6233
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       6234 non-null   int64
 1   type          6234 non-null   object
 2   title         6234 non-null   object
 3   director      4265 non-null   object
 4   cast          5664 non-null   object
 5   country       5758 non-null   object
 6   date_added    6223 non-null   object
 7   release_year  6234 non-null   int64
 8   rating        6224 non-null   object
 9   duration      6234 non-null   object
 10  listed_in     6234 non-null   object
 11  description   6234 non-null   object
dtypes: int64(2), object(10)
memory usage: 584.6+ KB

## 4. Get index and column labels without using head():

In [56]:
netflix.index

RangeIndex(start=0, stop=6234, step=1)

## columns:

In [57]:
netflix.columns

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

## 5. Replace the column labels with the dictionary below (so that it looks a little nicer):

In [58]:
New_columns = {'show_id':'Show ID','date_added':'Date added','release_year':'Release Year','listed_in':'Listed in'}

In [59]:
New_columns = {'show_id':'Show ID','date_added':'Date added','release_year':'Release Year','listed_in':'Listed in'}
netflix.rename(New_columns, axis = 1, inplace = True)
netflix.head(5)

,Show ID,type,title,director,cast,country,Date added,Release Year,rating,duration,Listed in,description
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...
1,80117401,Movie,Jandino: Whatever it Takes,NaN,Jandino Asporaat,United Kingdom,"September 9, 2016",2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...
2,70234439,TV Show,Transformers Prime,NaN,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,"September 8, 2018",2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob..."
3,80058654,TV Show,Transformers: Robots in Disguise,NaN,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,"September 8, 2018",2016,TV-Y7,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...
4,80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...

## 6. Find the item on 100. row:

In [60]:
print(netflix.iloc[100])

Show ID                                                  81132443
type                                                        Movie
title                                                    Deliha 2
director                                               Gupse Özay
cast            Gupse Özay, Eda Ece, Aksel Bonfil, Derya Alabo...
country                                                    Turkey
Date added                                     September 27, 2019
Release Year                                                 2018
rating                                                      TV-PG
duration                                                  102 min
Listed in                          Comedies, International Movies
description     While chasing her dream of becoming a chef, Ze...
Name: 100, dtype: object

## 6.a Since we dont have index labels, what else could we use to get the same item ?

In [61]:
net = netflix[netflix['Show ID'] == 81132443].index[0]
print(netflix.iloc[net])

Show ID                                                  81132443
type                                                        Movie
title                                                    Deliha 2
director                                               Gupse Özay
cast            Gupse Özay, Eda Ece, Aksel Bonfil, Derya Alabo...
country                                                    Turkey
Date added                                     September 27, 2019
Release Year                                                 2018
rating                                                      TV-PG
duration                                                  102 min
Listed in                          Comedies, International Movies
description     While chasing her dream of becoming a chef, Ze...
Name: 100, dtype: object

## 7. Select "title,director, Listed in,duration" columns in the DataFrame:

In [62]:
netflix[["title", "director", "Listed in", "duration"]]

,title,director,Listed in,duration
0,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Children & Family Movies, Comedies",90 min
1,Jandino: Whatever it Takes,NaN,Stand-Up Comedy,94 min
2,Transformers Prime,NaN,Kids' TV,1 Season
3,Transformers: Robots in Disguise,NaN,Kids' TV,1 Season
4,#realityhigh,Fernando Lebrija,Comedies,99 min
...,...,...,...,...
6229,Red vs. Blue,NaN,"TV Action & Adventure, TV Comedies, TV Sci-Fi ...",13 Seasons
6230,Maron,NaN,TV Comedies,4 Seasons
6231,Little Baby Bum: Nursery Rhyme Friends,NaN,Movies,60 min
6232,A Young Doctor's Notebook and Other Stories,NaN,"British TV Shows, TV Comedies, TV Dramas",2 Seasons
6233,Friends,NaN,"Classic & Cult TV, TV Comedies",10 Seasons

## Unfortunately, there are no IMDB ratings in the dataset :(
##### We'll create a random array from 0 to 10 which has the same size to insert into the DataFrame as 'IMDB rating'
### Important:
      because we are using a random array, there is actually no correct result to the tasks 
      involving IMDB rating. Everyone will see different ratings, hence different results.

#### Feel free to run the line below to generate the IMDB ratings:

In [63]:
IMDB = np.random.uniform(low=0, high=10, size=len(netflix['title']))
IMDB = np.around(IMDB,decimals = 1)
IMDB

array([2.9, 4.9, 4.4, ..., 0.3, 5.6, 9.5])

###  8. Insert the random ratings we created as a new column into the DataFrame and name it 'IMDB rating':

In [64]:
netflix['IMDB rating'] = IMDB
netflix.head(5)

,Show ID,type,title,director,cast,country,Date added,Release Year,rating,duration,Listed in,description,IMDB rating
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...,2.9
1,80117401,Movie,Jandino: Whatever it Takes,NaN,Jandino Asporaat,United Kingdom,"September 9, 2016",2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...,4.9
2,70234439,TV Show,Transformers Prime,NaN,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,"September 8, 2018",2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob...",4.4
3,80058654,TV Show,Transformers: Robots in Disguise,NaN,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,"September 8, 2018",2016,TV-Y7,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...,4.0
4,80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...,4.8

## 9. Delete the director column using del:

In [65]:
del netflix['director']
netflix.head(5)

,Show ID,type,title,cast,country,Date added,Release Year,rating,duration,Listed in,description,IMDB rating
0,81145628,Movie,Norm of the North: King Sized Adventure,"Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...,2.9
1,80117401,Movie,Jandino: Whatever it Takes,Jandino Asporaat,United Kingdom,"September 9, 2016",2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...,4.9
2,70234439,TV Show,Transformers Prime,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,"September 8, 2018",2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob...",4.4
3,80058654,TV Show,Transformers: Robots in Disguise,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,"September 8, 2018",2016,TV-Y7,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...,4.0
4,80125979,Movie,#realityhigh,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...,4.8

## 10. Drop the 'Date added' column:

In [66]:
netflix.drop('Date added', axis = 1)

,Show ID,type,title,cast,country,Release Year,rating,duration,Listed in,description,IMDB rating
0,81145628,Movie,Norm of the North: King Sized Adventure,"Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China",2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...,2.9
1,80117401,Movie,Jandino: Whatever it Takes,Jandino Asporaat,United Kingdom,2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...,4.9
2,70234439,TV Show,Transformers Prime,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob...",4.4
3,80058654,TV Show,Transformers: Robots in Disguise,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,2016,TV-Y7,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...,4.0
4,80125979,Movie,#realityhigh,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...,4.8
...,...,...,...,...,...,...,...,...,...,...,...
6229,80000063,TV Show,Red vs. Blue,"Burnie Burns, Jason Saldaña, Gustavo Sorola, G...",United States,2015,NR,13 Seasons,"TV Action & Adventure, TV Comedies, TV Sci-Fi ...","This parody of first-person shooter games, mil...",3.1
6230,70286564,TV Show,Maron,"Marc Maron, Judd Hirsch, Josh Brener, Nora Zeh...",United States,2016,TV-MA,4 Seasons,TV Comedies,"Marc Maron stars as Marc Maron, who interviews...",6.0
6231,80116008,Movie,Little Baby Bum: Nursery Rhyme Friends,NaN,NaN,2016,NaN,60 min,Movies,Nursery rhymes and original music for children...,0.3
6232,70281022,TV Show,A Young Doctor's Notebook and Other Stories,"Daniel Radcliffe, Jon Hamm, Adam Godley, Chris...",United Kingdom,2013,TV-MA,2 Seasons,"British TV Shows, TV Comedies, TV Dramas","Set during the Russian Revolution, this comic ...",5.6
6233,70153404,TV Show,Friends,"Jennifer Aniston, Courteney Cox, Lisa Kudrow, ...",United States,2003,TV-14,10 Seasons,"Classic & Cult TV, TV Comedies",This hit sitcom follows the merry misadventure...,9.5

## 11. Get max, min, and mean of the 'IMDB rating' using agg():

In [67]:
netflix['IMDB rating'].agg(['max', 'min', 'mean'])

max     10.000000
min      0.000000
mean     5.031007
Name: IMDB rating, dtype: float64

## 12. Find how many items have 10 IMDB rating (Hint: use logical masking):

In [68]:
count = netflix[netflix['IMDB rating'] ==10].count()
count

Show ID         24
type            24
title           24
cast            24
country         22
Date added      24
Release Year    24
rating          24
duration        24
Listed in       24
description     24
IMDB rating     24
dtype: int64

## 13. Find items with 10 IMDB rating and display only their titles:

In [69]:
title_rating_10 = netflix[netflix['IMDB rating'] == 10]
title_rating_10['title']

124                              White Island
408                          Game Winning Hit
686                                  Homeland
836                  The Pursuit of Happyness
976                      Murphy's Law of Love
1136                          Dino Girl Gauko
1588                What Happens to My Family
2327                                  Aitraaz
2436                               The Hollow
2833             The Incredible Jessica James
2907    Jimmy: The True Story of a True Idiot
4140                           Triad Princess
4356                               Sweetheart
4391                             Jojo's World
4404                                    Agent
4438                Power Rangers Dino Charge
4464                   Sincerely Yours, Dhaka
4591                  Judd Apatow: The Return
5372                Because We're Heading Out
5557                                    Elaan
5706                       Star Trek: Voyager
5926                     Degrassi: Next Class
6016                              Saint Seiya
6049                              Bates Motel
Name: title, dtype: object

## 14. Sort the items according to their IMDB rating (descending):

In [70]:
sort_desc = netflix.sort_values(by = 'IMDB rating', ascending = False)
sort_desc

,Show ID,type,title,cast,country,Date added,Release Year,rating,duration,Listed in,description,IMDB rating
976,80111556,TV Show,Murphy's Law of Love,"Danson Tang, Chia-ying Lee, Jolin Chien, Jenna...",Taiwan,"October 1, 2016",2015,TV-14,1 Season,"International TV Shows, Romantic TV Shows, TV ...",An online matchmaker who's convinced she's liv...,10.0
4391,81032872,TV Show,Jojo's World,"Tia Lee, In Deok Hwang, Yen-j, Jason Hsu, Andy...",Taiwan,"December 21, 2018",2017,TV-14,1 Season,"International TV Shows, Romantic TV Shows, TV ...",Diagnosed with a condition that could make her...,10.0
4464,81048551,Movie,"Sincerely Yours, Dhaka","Mostafizur Noor Imran, Orchita Sporshia, Allen...",Bangladesh,"December 16, 2019",2018,TV-MA,136 min,"Comedies, Dramas, Independent Movies",Eleven emerging Bangladeshi filmmakers present...,10.0
1136,80216180,TV Show,Dino Girl Gauko,"Naoko Matsui, Hiroshi Kamiya, Kazue Ikura, Cha...","United States, Japan","November 22, 2019",2019,TV-Y7-FV,1 Season,"Anime Series, Kids' TV","When she gets angry, middle schooler Naoko tur...",10.0
836,70044605,Movie,The Pursuit of Happyness,"Will Smith, Jaden Smith, Thandie Newton, Brian...",United States,"October 1, 2019",2006,PG-13,117 min,Dramas,"When Chris and his son are evicted, they face ...",10.0
...,...,...,...,...,...,...,...,...,...,...,...,...
5898,81023023,TV Show,The Casketeers,NaN,New Zealand,"June 21, 2019",2019,TV-14,2 Seasons,"International TV Shows, Reality TV",Māori funeral directors Francis and Kaiora Tip...,0.0
4253,80232095,Movie,Mexicanos de Bronce,NaN,Mexico,"December 31, 2018",2016,TV-MA,100 min,"Documentaries, International Movies, Music & M...","When street vices keep them coming back, three...",0.0
3791,81045349,TV Show,Romance is a bonus book,"Lee Jong-suk, Lee Na-young, Jung Eugene, Wi Ha...",South Korea,"February 3, 2019",2019,TV-14,1 Season,"International TV Shows, Korean TV Shows, Roman...",A gifted writer who's the youngest editor-in-c...,0.0
3172,80065182,TV Show,Limitless,"Jake McDorman, Jennifer Carpenter, Hill Harper...",United States,"July 1, 2016",2016,TV-14,1 Season,"Crime TV Shows, TV Dramas, TV Sci-Fi & Fantasy",A failed musician unleashes his brain's full p...,0.0
1731,70109375,Movie,Mission Istaanbul: Darr Ke Aagey Jeet Hai,"Vivek Oberoi, Zayed Khan, Shriya Saran, Nikiti...",India,"May 16, 2019",2008,TV-MA,119 min,"Action & Adventure, International Movies, Musi...",A television journalist makes a risky career m...,0.0

## 15. Get a statistical description of the 'IMDB rating' column:

In [71]:
netflix['IMDB rating'].describe()

count    6234.000000
mean        5.031007
std         2.881488
min         0.000000
25%         2.600000
50%         5.000000
75%         7.500000
max        10.000000
Name: IMDB rating, dtype: float64

## 16. Get the items with IMDB rating bigger than 8.0 and with country as Spain:

In [72]:
netflix[(netflix['IMDB rating'] > 8.0 ) & (netflix['country'] == 'Spain')]

,Show ID,type,title,cast,country,Date added,Release Year,rating,duration,Listed in,description,IMDB rating
97,80992039,Movie,Two Catalonias,NaN,Spain,"September 28, 2018",2018,TV-MA,117 min,"Documentaries, International Movies",Lawmakers and activists with conflicting ideol...,8.8
651,80990336,Movie,Seventeen,"Biel Montoro, Nacho Sánchez, Lola Cordón, Itsa...",Spain,"October 18, 2019",2019,TV-MA,100 min,"Comedies, Dramas, International Movies","To find his therapy dog, a 17-year-old escapes...",9.1
1132,80235857,TV Show,Fugitiva,"Paz Vega, Julio Bracho, Arantza Ruiz, Luisa Ru...",Spain,"November 23, 2018",2018,TV-MA,1 Season,"Crime TV Shows, International TV Shows, Spanis...",A domestic abuse survivor orchestrates an elab...,9.8
1272,80183187,Movie,Klaus,"Jason Schwartzman, J.K. Simmons, Rashida Jones...",Spain,"November 15, 2019",2019,PG,98 min,"Children & Family Movies, Comedies",A selfish postman and a reclusive toymaker for...,9.1
1922,80093103,Movie,Palm Trees in the Snow,"Mario Casas, Adriana Ugarte, Macarena García, ...",Spain,"May 1, 2016",2015,TV-MA,163 min,"Dramas, International Movies, Romantic Movies","Finding a tantalizing clue in an old letter, a...",9.3
2752,80121843,Movie,Smoke & Mirrors,"Eduard Fernández, José Coronado, Marta Etura, ...",Spain,"June 1, 2017",2016,TV-14,123 min,"Dramas, International Movies, Thrillers",Betrayed by the Spanish government he once ser...,8.3
2782,81001804,Movie,100 Days Of Solitude,NaN,Spain,"July 6, 2018",2018,TV-14,93 min,"Documentaries, International Movies",Spanish photographer José Díaz spends 100 days...,9.7
2838,80212251,TV Show,Welcome to the Family,"Melani Olivares, Ivan Massagué, Yolanda Ramos,...",Spain,"July 27, 2018",2018,TV-MA,1 Season,"International TV Shows, TV Comedies, TV Dramas",When an evicted single mom's estranged father ...,8.9
2840,80173485,Movie,Boi,"Bernat Quintana, Adrian Pang, Andrew Lua, Rach...",Spain,"July 26, 2019",2018,TV-MA,111 min,"Dramas, Independent Movies, International Movies",A young chauffeur who's at a crossroads in his...,8.2
2876,80232989,Movie,The Warning,"Raúl Arévalo, Aura Garrido, Hugo Arbues, Belén...",Spain,"July 24, 2018",2018,TV-MA,93 min,"International Movies, Thrillers","After his friend is shot, Jon finds a mathemat...",9.3
2943,80167460,Movie,Uncertain Glory,"Marcel Borràs, Bruna Cusí, Nuria Prims, Oriol ...",Spain,"July 17, 2017",2017,TV-MA,116 min,"Dramas, International Movies","When Lluís, a disinterested Spanish soldier, m...",9.2
3026,81036520,Movie,Parchís: the Documentary,NaN,Spain,"July 11, 2019",2019,TV-14,106 min,"Documentaries, International Movies, Music & M...","The spotlight's on Parchís, a record company-c...",8.8
3155,80093106,Movie,The Invisible Guest,"Mario Casas, Ana Wagener, José Coronado, Bárba...",Spain,"July 1, 2017",2016,TV-14,106 min,"International Movies, Thrillers",After waking next to his now-dead lover in a h...,8.8
3756,81029383,Movie,The Tree of Blood,"Úrsula Corberó, Álvaro Cervantes, Najwa Nimri,...",Spain,"February 8, 2019",2018,TV-MA,136 min,"Dramas, Independent Movies, International Movies",As a young couple write the story of their fam...,9.7
4071,80093105,Movie,Heroes Wanted,"María León, Miki Esparbé, Jordi Sánchez, Andon...",Spain,"February 1, 2017",2016,TV-MA,97 min,"Action & Adventure, Comedies, International Mo...","When its special ops agency is wiped out, Spai...",8.8
4139,80987516,TV Show,Three Days of Christmas,"Victoria Abril, Elena Anaya, Mar Ayala, Nerea ...",Spain,"December 6, 2019",2019,TV-MA,1 Season,"International TV Shows, Spanish-Language TV Sh...",Four sisters deal with family drama and secret...,9.8
4233,80990609,TV Show,The Neighbor,"Quim Gutiérrez, Clara Lago, Adrián Pino, Catel...",Spain,"December 31, 2019",2019,TV-MA,1 Season,"International TV Shows, Spanish-Language TV Sh...",Self-centered Javier's life gets a bit messy w...,8.1
4323,80244708,Movie,When Angels Sleep,"Julián Villagrán, Marian Álvarez, Ester Expósi...",Spain,"December 28, 2018",2018,TV-MA,96 min,"Dramas, International Movies, Thrillers",After a businessman falls asleep at the wheel ...,8.2
4809,80209658,Movie,Unbridled,"Natalia de Molina, Daniel Grao, Natalia Mateo,...",Spain,"August 30, 2019",2018,TV-MA,100 min,"International Movies, Thrillers","Desperate to keep her husband’s secret, a devo...",8.7
4940,80202810,Movie,Alejandro Sanz: What I Was Is What I Am,Alejandro Sanz,Spain,"August 18, 2018",2018,TV-14,102 min,"Documentaries, International Movies, Music & M...",A retrospective look at the life and career of...,8.7
5184,80160972,Movie,El fin de ETA,NaN,Spain,"April 8, 2017",2017,TV-14,106 min,"Documentaries, International Movies",This documentary chronicles the decade-long pr...,8.4
5887,80195828,TV Show,Paquita Salas,"Brays Efe, Belén Cuesta, Lidia San José, Álex ...",Spain,"June 28, 2019",2018,TV-MA,3 Seasons,"International TV Shows, Spanish-Language TV Sh...","One of Spain's best talent agents in the '90s,...",9.6
5991,80064235,TV Show,The Ministry of Time,"Rodolfo Sancho, Aura Garrido, Nacho Fresneda, ...",Spain,"January 28, 2018",2017,TV-MA,3 Seasons,"International TV Shows, Spanish-Language TV Sh...",Three officers from different eras work for a ...,8.8
6056,80215507,TV Show,Velvet Colección,"Marta Hazas, Asier Etxeandía, Adrián Lastra, D...",Spain,"February 14, 2019",2018,TV-14,2 Seasons,"International TV Shows, Romantic TV Shows, Spa...","In the late '60s, fashion designer Ana enlists...",8.4
6196,80127464,TV Show,Mar de Plástico,"Rodolfo Sancho, Belén López, Pedro Casablanc, ...",Spain,"April 27, 2017",2017,TV-MA,2 Seasons,"Crime TV Shows, International TV Shows, Spanis...",In a town in southern Spain where racial tensi...,8.9

## 17. Get, respectively:
#### the oldest 'Release Year' in the DataFrame
#### the index of item with oldest 'Release Year'
#### the item with oldest 'Release Year'

In [73]:
#the oldest 'Release Year' in the DataFrame
netflix['Release Year'].min()

1925

In [74]:
#the index of item with oldest 'Release Year'
netflix['Release Year'].idxmin()

4292

In [75]:
#the item itself with oldest release year
netflix.loc[netflix['Release Year'].idxmin()]

Show ID                                                  81030762
type                                                      TV Show
title                           Pioneers: First Women Filmmakers*
cast                                                          NaN
country                                                       NaN
Date added                                      December 30, 2018
Release Year                                                 1925
rating                                                      TV-PG
duration                                                 1 Season
Listed in                                                TV Shows
description     This collection restores films from women who ...
IMDB rating                                                   2.4
Name: 4292, dtype: object

## 18. Get the missing values:

In [76]:
netflix.isnull()

,Show ID,type,title,cast,country,Date added,Release Year,rating,duration,Listed in,description,IMDB rating
0,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
6229,False,False,False,False,False,True,False,False,False,False,False,False
6230,False,False,False,False,False,True,False,False,False,False,False,False
6231,False,False,False,True,True,True,False,True,False,False,False,False
6232,False,False,False,False,False,True,False,False,False,False,False,False
6233,False,False,False,False,False,True,False,False,False,False,False,False

## 19. Which items have missing values in any of the columns (Hint: use logical masking, do not forget the previous step returned booleans in the DataFrame)?

In [77]:
netflix[netflix.isna().any(axis=1)]

,Show ID,type,title,cast,country,Date added,Release Year,rating,duration,Listed in,description,IMDB rating
8,80117902,TV Show,Fire Chasers,NaN,United States,"September 8, 2017",2017,TV-MA,1 Season,"Docuseries, Science & Nature TV","As California's 2016 fire season rages, brave ...",4.9
10,80169755,Movie,Joaquín Reyes: Una y no más,Joaquín Reyes,NaN,"September 8, 2017",2017,TV-MA,78 min,Stand-Up Comedy,Comedian and celebrity impersonator Joaquín Re...,5.2
12,80182480,Movie,Krish Trish and Baltiboy,"Damandeep Singh Baggan, Smita Malhotra, Baba S...",NaN,"September 8, 2017",2009,TV-Y7,58 min,Children & Family Movies,"A team of minstrels, including a monkey, cat a...",3.9
13,80182483,Movie,Krish Trish and Baltiboy: Battle of Wits,"Damandeep Singh Baggan, Smita Malhotra, Baba S...",NaN,"September 8, 2017",2013,TV-Y7,62 min,Children & Family Movies,"An artisan is cheated of his payment, a lion o...",2.0
14,80182596,Movie,Krish Trish and Baltiboy: Best Friends Forever,"Damandeep Singh Baggan, Smita Malhotra, Deepak...",NaN,"September 8, 2017",2016,TV-Y,65 min,Children & Family Movies,"A cat, monkey and donkey team up to narrate fo...",8.4
...,...,...,...,...,...,...,...,...,...,...,...,...
6229,80000063,TV Show,Red vs. Blue,"Burnie Burns, Jason Saldaña, Gustavo Sorola, G...",United States,NaN,2015,NR,13 Seasons,"TV Action & Adventure, TV Comedies, TV Sci-Fi ...","This parody of first-person shooter games, mil...",3.1
6230,70286564,TV Show,Maron,"Marc Maron, Judd Hirsch, Josh Brener, Nora Zeh...",United States,NaN,2016,TV-MA,4 Seasons,TV Comedies,"Marc Maron stars as Marc Maron, who interviews...",6.0
6231,80116008,Movie,Little Baby Bum: Nursery Rhyme Friends,NaN,NaN,NaN,2016,NaN,60 min,Movies,Nursery rhymes and original music for children...,0.3
6232,70281022,TV Show,A Young Doctor's Notebook and Other Stories,"Daniel Radcliffe, Jon Hamm, Adam Godley, Chris...",United Kingdom,NaN,2013,TV-MA,2 Seasons,"British TV Shows, TV Comedies, TV Dramas","Set during the Russian Revolution, this comic ...",5.6
6233,70153404,TV Show,Friends,"Jennifer Aniston, Courteney Cox, Lisa Kudrow, ...",United States,NaN,2003,TV-14,10 Seasons,"Classic & Cult TV, TV Comedies",This hit sitcom follows the merry misadventure...,9.5

## 20. Drop items which have missing values in any of the columns:

In [78]:
netflix.dropna()

,Show ID,type,title,cast,country,Date added,Release Year,rating,duration,Listed in,description,IMDB rating
0,81145628,Movie,Norm of the North: King Sized Adventure,"Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...,2.9
1,80117401,Movie,Jandino: Whatever it Takes,Jandino Asporaat,United Kingdom,"September 9, 2016",2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...,4.9
2,70234439,TV Show,Transformers Prime,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,"September 8, 2018",2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob...",4.4
3,80058654,TV Show,Transformers: Robots in Disguise,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,"September 8, 2018",2016,TV-Y7,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...,4.0
4,80125979,Movie,#realityhigh,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...,4.8
...,...,...,...,...,...,...,...,...,...,...,...,...
6218,80162994,TV Show,Talking Tom and Friends,"Colin Hanks, Tom Kenny, James Adomian, Lisa Sc...","Cyprus, Austria, Thailand","April 10, 2019",2017,TV-G,2 Seasons,"Kids' TV, TV Comedies",Full of funny one-liners and always ready for ...,1.8
6219,80186475,TV Show,Pokémon the Series,"Sarah Natochenny, Laurie Hymes, Jessica Paquet...",Japan,"April 1, 2019",2019,TV-Y7-FV,2 Seasons,"Anime Series, Kids' TV",Ash and his Pikachu travel to the Alola region...,6.4
6220,70272742,TV Show,Justin Time,"Gage Munroe, Scott McCord, Jenna Warren",Canada,"April 1, 2016",2012,TV-Y,2 Seasons,Kids' TV,"In Justin's dreams, he and his imaginary frien...",6.3
6221,80067942,TV Show,Terrace House: Boys & Girls in the City,"You, Reina Triendl, Ryota Yamasato, Yoshimi To...",Japan,"April 1, 2016",2016,TV-14,2 Seasons,"International TV Shows, Reality TV",A new set of six men and women start their liv...,3.6
6222,70136122,TV Show,Weeds,"Mary-Louise Parker, Hunter Parrish, Alexander ...",United States,"April 1, 2014",2012,TV-MA,8 Seasons,"TV Comedies, TV Dramas",A suburban mother starts selling marijuana to ...,2.8

## 21. Drop items which do not have minimum 10 valid (not missing) values:

In [79]:
netflix.dropna(thresh=10)

,Show ID,type,title,cast,country,Date added,Release Year,rating,duration,Listed in,description,IMDB rating
0,81145628,Movie,Norm of the North: King Sized Adventure,"Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...,2.9
1,80117401,Movie,Jandino: Whatever it Takes,Jandino Asporaat,United Kingdom,"September 9, 2016",2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...,4.9
2,70234439,TV Show,Transformers Prime,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,"September 8, 2018",2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob...",4.4
3,80058654,TV Show,Transformers: Robots in Disguise,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,"September 8, 2018",2016,TV-Y7,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...,4.0
4,80125979,Movie,#realityhigh,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...,4.8
...,...,...,...,...,...,...,...,...,...,...,...,...
6228,80159925,TV Show,Kikoriki,Igor Dmitriev,NaN,NaN,2010,TV-Y,2 Seasons,Kids' TV,A wacky rabbit and his gang of animal pals hav...,2.5
6229,80000063,TV Show,Red vs. Blue,"Burnie Burns, Jason Saldaña, Gustavo Sorola, G...",United States,NaN,2015,NR,13 Seasons,"TV Action & Adventure, TV Comedies, TV Sci-Fi ...","This parody of first-person shooter games, mil...",3.1
6230,70286564,TV Show,Maron,"Marc Maron, Judd Hirsch, Josh Brener, Nora Zeh...",United States,NaN,2016,TV-MA,4 Seasons,TV Comedies,"Marc Maron stars as Marc Maron, who interviews...",6.0
6232,70281022,TV Show,A Young Doctor's Notebook and Other Stories,"Daniel Radcliffe, Jon Hamm, Adam Godley, Chris...",United Kingdom,NaN,2013,TV-MA,2 Seasons,"British TV Shows, TV Comedies, TV Dramas","Set during the Russian Revolution, this comic ...",5.6
6233,70153404,TV Show,Friends,"Jennifer Aniston, Courteney Cox, Lisa Kudrow, ...",United States,NaN,2003,TV-14,10 Seasons,"Classic & Cult TV, TV Comedies",This hit sitcom follows the merry misadventure...,9.5

## 22. Replace missing values with 'not available':

In [80]:
netflix.fillna('not available')

,Show ID,type,title,cast,country,Date added,Release Year,rating,duration,Listed in,description,IMDB rating
0,81145628,Movie,Norm of the North: King Sized Adventure,"Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...,2.9
1,80117401,Movie,Jandino: Whatever it Takes,Jandino Asporaat,United Kingdom,"September 9, 2016",2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...,4.9
2,70234439,TV Show,Transformers Prime,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,"September 8, 2018",2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob...",4.4
3,80058654,TV Show,Transformers: Robots in Disguise,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,"September 8, 2018",2016,TV-Y7,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...,4.0
4,80125979,Movie,#realityhigh,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...,4.8
...,...,...,...,...,...,...,...,...,...,...,...,...
6229,80000063,TV Show,Red vs. Blue,"Burnie Burns, Jason Saldaña, Gustavo Sorola, G...",United States,not available,2015,NR,13 Seasons,"TV Action & Adventure, TV Comedies, TV Sci-Fi ...","This parody of first-person shooter games, mil...",3.1
6230,70286564,TV Show,Maron,"Marc Maron, Judd Hirsch, Josh Brener, Nora Zeh...",United States,not available,2016,TV-MA,4 Seasons,TV Comedies,"Marc Maron stars as Marc Maron, who interviews...",6.0
6231,80116008,Movie,Little Baby Bum: Nursery Rhyme Friends,not available,not available,not available,2016,not available,60 min,Movies,Nursery rhymes and original music for children...,0.3
6232,70281022,TV Show,A Young Doctor's Notebook and Other Stories,"Daniel Radcliffe, Jon Hamm, Adam Godley, Chris...",United Kingdom,not available,2013,TV-MA,2 Seasons,"British TV Shows, TV Comedies, TV Dramas","Set during the Russian Revolution, this comic ...",5.6
6233,70153404,TV Show,Friends,"Jennifer Aniston, Courteney Cox, Lisa Kudrow, ...",United States,not available,2003,TV-14,10 Seasons,"Classic & Cult TV, TV Comedies",This hit sitcom follows the merry misadventure...,9.5

## 23. Fill the missing values in a way that they will take the value from the previous row/item:

In [81]:
netflix.fillna(method='ffill')

,Show ID,type,title,cast,country,Date added,Release Year,rating,duration,Listed in,description,IMDB rating
0,81145628,Movie,Norm of the North: King Sized Adventure,"Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...,2.9
1,80117401,Movie,Jandino: Whatever it Takes,Jandino Asporaat,United Kingdom,"September 9, 2016",2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...,4.9
2,70234439,TV Show,Transformers Prime,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,"September 8, 2018",2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob...",4.4
3,80058654,TV Show,Transformers: Robots in Disguise,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,"September 8, 2018",2016,TV-Y7,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...,4.0
4,80125979,Movie,#realityhigh,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...,4.8
...,...,...,...,...,...,...,...,...,...,...,...,...
6229,80000063,TV Show,Red vs. Blue,"Burnie Burns, Jason Saldaña, Gustavo Sorola, G...",United States,"April 1, 2014",2015,NR,13 Seasons,"TV Action & Adventure, TV Comedies, TV Sci-Fi ...","This parody of first-person shooter games, mil...",3.1
6230,70286564,TV Show,Maron,"Marc Maron, Judd Hirsch, Josh Brener, Nora Zeh...",United States,"April 1, 2014",2016,TV-MA,4 Seasons,TV Comedies,"Marc Maron stars as Marc Maron, who interviews...",6.0
6231,80116008,Movie,Little Baby Bum: Nursery Rhyme Friends,"Marc Maron, Judd Hirsch, Josh Brener, Nora Zeh...",United States,"April 1, 2014",2016,TV-MA,60 min,Movies,Nursery rhymes and original music for children...,0.3
6232,70281022,TV Show,A Young Doctor's Notebook and Other Stories,"Daniel Radcliffe, Jon Hamm, Adam Godley, Chris...",United Kingdom,"April 1, 2014",2013,TV-MA,2 Seasons,"British TV Shows, TV Comedies, TV Dramas","Set during the Russian Revolution, this comic ...",5.6
6233,70153404,TV Show,Friends,"Jennifer Aniston, Courteney Cox, Lisa Kudrow, ...",United States,"April 1, 2014",2003,TV-14,10 Seasons,"Classic & Cult TV, TV Comedies",This hit sitcom follows the merry misadventure...,9.5

## 24. Pivot the DataFrame in a way that 'Show ID' will be the index and 'type' contents will be the columns and duration will be the values:

In [82]:
netflix.pivot_table(index='Show ID', columns='type', values='duration', aggfunc='first')

type        Movie    TV Show
Show ID
247747    172 min        NaN
269880    119 min        NaN
281550    109 min        NaN
284890    166 min        NaN
292118     81 min        NaN
...           ...        ...
81224868      NaN  2 Seasons
81227195  107 min        NaN
81228864  102 min        NaN
81235603      NaN   1 Season
81235729   86 min        NaN

[6234 rows x 2 columns]

## 25. Replace United States with US and United Kingdom with UK in the country column:

In [83]:
netflix['country'].replace(['United States', 'United Kingdom'],['US', 'UK'], inplace = True)
netflix

,Show ID,type,title,cast,country,Date added,Release Year,rating,duration,Listed in,description,IMDB rating
0,81145628,Movie,Norm of the North: King Sized Adventure,"Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...,2.9
1,80117401,Movie,Jandino: Whatever it Takes,Jandino Asporaat,UK,"September 9, 2016",2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...,4.9
2,70234439,TV Show,Transformers Prime,"Peter Cullen, Sumalee Montano, Frank Welker, J...",US,"September 8, 2018",2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob...",4.4
3,80058654,TV Show,Transformers: Robots in Disguise,"Will Friedle, Darren Criss, Constance Zimmer, ...",US,"September 8, 2018",2016,TV-Y7,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...,4.0
4,80125979,Movie,#realityhigh,"Nesta Cooper, Kate Walsh, John Michael Higgins...",US,"September 8, 2017",2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...,4.8
...,...,...,...,...,...,...,...,...,...,...,...,...
6229,80000063,TV Show,Red vs. Blue,"Burnie Burns, Jason Saldaña, Gustavo Sorola, G...",US,NaN,2015,NR,13 Seasons,"TV Action & Adventure, TV Comedies, TV Sci-Fi ...","This parody of first-person shooter games, mil...",3.1
6230,70286564,TV Show,Maron,"Marc Maron, Judd Hirsch, Josh Brener, Nora Zeh...",US,NaN,2016,TV-MA,4 Seasons,TV Comedies,"Marc Maron stars as Marc Maron, who interviews...",6.0
6231,80116008,Movie,Little Baby Bum: Nursery Rhyme Friends,NaN,NaN,NaN,2016,NaN,60 min,Movies,Nursery rhymes and original music for children...,0.3
6232,70281022,TV Show,A Young Doctor's Notebook and Other Stories,"Daniel Radcliffe, Jon Hamm, Adam Godley, Chris...",UK,NaN,2013,TV-MA,2 Seasons,"British TV Shows, TV Comedies, TV Dramas","Set during the Russian Revolution, this comic ...",5.6
6233,70153404,TV Show,Friends,"Jennifer Aniston, Courteney Cox, Lisa Kudrow, ...",US,NaN,2003,TV-14,10 Seasons,"Classic & Cult TV, TV Comedies",This hit sitcom follows the merry misadventure...,9.5

## 26. Group the 'IMDB rating' column by 'Listed in' column (groupby) and assign it the group variable:

In [84]:
group = netflix.groupby('Listed in')['IMDB rating']
group

## 26.a Using the group variable we just created, show which 'Listed in' content has how many IMDB ratings in total (Hint: calling agg functions on the group object):

In [85]:
group.sum()

Listed in
Action & Adventure                                              340.3
Action & Adventure, Anime Features, Children & Family Movies      9.1
Action & Adventure, Anime Features, Classic Movies                5.0
Action & Adventure, Anime Features, Horror Movies                 2.4
Action & Adventure, Anime Features, International Movies        112.4
                                                                ...
TV Horror, TV Mysteries, Teen TV Shows                            2.4
TV Horror, Teen TV Shows                                          5.8
TV Sci-Fi & Fantasy, TV Thrillers                                 8.4
TV Shows                                                         46.2
Thrillers                                                       164.4
Name: IMDB rating, Length: 461, dtype: float64

## 27. Define a function which halves the variable it gets passed onto and returns the result:

In [86]:
# define the function
def halve_value(value):
    return value / 2

## 27a. Apply the function we defined to the 'IMDB rating' column:

In [87]:
netflix['IMDB rating'].apply(halve_value)

0       1.45
1       2.45
2       2.20
3       2.00
4       2.40
        ...
6229    1.55
6230    3.00
6231    0.15
6232    2.80
6233    4.75
Name: IMDB rating, Length: 6234, dtype: float64

# Well done!.